body {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    }

a.nav-link.active{
    color:#fffefe !important;
    background-color: #FF004A !important;

}
a.nav-link{
    color:#FF004A!important;

}
.oval-button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #FF004A !important;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }

.izquierda {
    background-color:white;
}

.pantalla-dividida {
    display: flex;
}
.derecha {
    background-color:white;
    flex: 1;   
    position: relative;
    height: auto;
}

.contenedor-botones{
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    
    .oval-button {
        width: 100%;
        height: 50px;
        border-radius: 20px;
        background-color: #FF004A !important;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 5px;
      }
      .video{
        height: 300px;
      }

    .izquierda, .derecha {
        width: 100%;
        flex-basis: auto;
    }
        
    .contenedor-botones{
        position: absolute;
        bottom: 0;
        width: 97%;
    }
    .opciones {
        position: absolute;
    }
}

@media screen and (max-width: 400px) {
    .pantalla-dividida {
        flex-direction: column; /* Cambia la dirección de la división en pantallas pequeñas */
    }
    .pantalla-dividida:nth-child(2) {
        flex-direction: column-reverse; /* Cambia la dirección de la división en pantallas pequeñas */

    }
    .oval-button {
        width: 100%;
        height: 50px;
        border-radius: 20px;
        background-color: #FF004A !important;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 5px;
      }
      .video{
        height: 300px;
      }

    .izquierda, .derecha {
        width: 100%;
        flex-basis: auto;
    }

    .contenedor-botones{
        position: absolute;
        bottom: 0;
        width: 97%;
    } 
    #imagen {
        position: relative;
      }
      
      .boton-enlace {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 40px;
        background-color: #FF004A; /* Color de fondo del botón */
        color: #ffffff; /* Color de texto del botón */
        text-align: center;
        line-height: 40px;
        text-decoration: none;
      }
      .boton-enlace {
        /* ... otros estilos ... */
        background-size: cover; /* Ajustar la imagen de fondo al tamaño del botón */
        background-position: center; /* Centrar la imagen de fondo */
      }
            
}


